<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    
    </style>
</head>
<body>
    <h1>Cookies Example </h1>
    <ul>
        <li>
            <a href="./home/create">Create Cookie</a>
        </li>
        <li>
            <a href="./home/count">Visit count</a>
        </li>
        <li>
            <a href="./home/delete">Delete Cookie</a>
        </li>
    </ul>
</body>
</html>