body{
    background-size: cover;
    background-position: center;
}

#rst{
    margin-left: 258px;
}
input[type='text'],input[type='email'],input[type='number']{
    text-align: center;
}
::placeholder{
    text-align: center;
    color:red;
}