<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Insert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"  href=" {% static 'css/bootstrap.css' %} " />
    <link rel="stylesheet" type="text/css"  href=" {% static 'css/mdb.css' %} " />
    <link rel="stylesheet" type="text/css"  href=" {% static 'css/fontawesome-all.css' %} " />
    <link rel="stylesheet" type="text/css"  href=" {% static 'css/style.css' %} " />

</head>
<body>
<h1 class="text-center text-danger mt-2">CRUD opration in django</h1>
<div class="row">
        <div class="card w-25 mx-auto p-3 mt-3">
                <div class="card-header bg-light text-center">
                    <h3>Update ur info</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="from-group">
                            {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-{{msg.tags}} alert-dismissible">
                                        <a href="" class="close" data-dissmiss="alert">&times;</a>
                                        {{msg}}
                                    </div>        
                                {% endfor %}
                            {% endif %}
                            {{upform.uid}}
                            {{upform.name}}
                            <input type="submit" value="Submit" class="btn btn-outline-dark-green">
                            <input type="reset" value="Reset" class="btn btn-outline-brown">   
                        </div>
                    </form>
                </div>
            </div>
            
</div>  

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.js' %}"></script> 
<script src="{% static 'js/mdb.js' %}"></script> 
<script src="{% static 'js/fontawesome-all.js' %}"></script>     
</body>
</html>